{% extends "core/base.html" %}
{% load static %}
{% block content %}
<div class="mt-5">
    <div class="text-center">
        <img src="{% static "core/images/vinay.jpeg" %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
    </div>
    <div class="mt-5 text-white mx-5 text-justify">
        <h1 class="font-weight-bold satisfy-regular">Hello,</h1>
        <div class="px-4" style="line-height:2rem;">
            <p style="text-indent:100px;">
                I am a <b class="text-warning">Computer Science </b>graduate with hands-on experience in mobile
and web application development, specializing in Android and Flutter.
Proficient in Java, Python, Dart, and frameworks such as Django and
Flask, I excel in optimizing performance and delivering user-friendly
applications. I am passionate about staying updated with emerging
technologies to deliver impactful software solutions.
            </p>
        </div>
    </div>
    <div class="text-center">
        <a href="{% url "contact" %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
        <a href="{% url "contact" %}" class="btn btn-outline-info my-3">Contact Me</a>
    </div>
</div>                 
{% endblock content %}